#flow-diagram {
    position: absolute;
    margin-left: 33%;
    width: 67%;
    height: 100%;
    background-color: #f0f0f0;
}

#sidebar {
    position: absolute;
    width: 33%;
    height: 100%;
    background-color: #ffffff;
}

.sidebar-submenu {
    border: 2px solid #dddddd;
    background-color: #f0f0f0;
    color: #333333;
    border-radius: 25px;
    padding: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.sidebar-submenu-expand {
    border: 2px solid #dddddd;
    background-color: #f0f0f0;
    color: #333333;
    border-radius: 25px;
    padding: 10px;
    display: none;
    overflow: hidden;
    text-align: center;
}

.sidebar-submenu-expand-button {
    background-color: #777;
    display: block;
    color: white;
    cursor: pointer;
    padding-bottom: 18px;
    padding-top: 18px;
    border-radius: 25px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.sidebar-submenu-expand-button-active, .sidebar-submenu-expand-button:hover {
    background-color: #555;
}

.sidebar-submit {
    background-color: #ffaa00;
    color: white;
    cursor: pointer;
    display: block;
    border-radius: 25px;
    width: 80%;
    border: none;
    padding: 20px;
    outline: none;
    text-align: center;
}

.sidebar-submit:hover {
    background-color: #ffdd00
}

.new-block-type-submenu {
    display: none;
    padding: 20px;
}

