#flow-diagram {
    position: absolute;
    margin-left: 25%;
    width: 75%;
    height: 100%;
    background-color: #f0f0f0;
}

#sidebar {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #ffffff;
}

.sidebar-submenu {
    border: 2px solid #dddddd;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 10px;
}

.new-block-type-submenu {
    display: none;
}