#body {
    overflow: hidden;
}

#container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#notification {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 10%;
    height: 8%;
    display: none;
}

#flow-diagram {
    position: absolute;
    margin-left: 33%;
    width: 67%;
    height: 100%;
    background-color: #f0f0f0;
}

#sidebar {
    position: absolute;
    width: 33%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
}

.sidebar-submenu {
    border: 2px solid #dddddd;
    background-color: #f0f0f0;
    color: #333333;
    border-radius: 25px;
    padding: 10px;
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 2;
}

.sidebar-submenu-expand {
    border: 2px solid #dddddd;
    background-color: #f0f0f0;
    color: #333333;
    border-radius: 25px;
    padding: 10px;
    display: none;
    overflow: hidden;
    text-align: center;
    line-height: 2;
}

.sidebar-submenu-expand-button {
    background-color: #777;
    display: block;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    padding-bottom: 18px;
    padding-top: 18px;
    border-radius: 25px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.sidebar-submenu-expand-button-active, .sidebar-submenu-expand-button:hover {
    background-color: #555;
}

.center {
    text-align: center;
}

.sidebar-submit {
    background-color: #ffaa00;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    width: 80%;
    border: none;
    padding: 20px;
    outline: none;
    text-align: center;
}

.sidebar-submit:hover {
    background-color: #ffdd00
}

.sidebar-button {
    background-color: #777;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    width: 80%;
    border: none;
    padding: 20px;
    outline: none;
    text-align: center;
}

.sidebar-button:hover {
    background-color: #555;
}

textarea {
    width: 90%;
    height: 200px;
    resize: vertical;
}


